[submodule "scout-ai-flutter"]
	path = scout-ai-flutter
	url = https://github.com/Ali-Hadi-Saker/Scout-AI-Flutter.git
[submodule "scout-ai-react"]
	path = scout-ai-react
	url = https://github.com/Ali-Hadi-Saker/Scout-AI-React.git
[submodule "scout-ai-back-end"]
	path = scout-ai-back-end
	url = https://github.com/Ali-Hadi-Saker/Scout-AI-Back-End.git
[submodule "scout-ai-detecion-model"]
	path = scout-ai-detecion-model
	url = https://github.com/Ali-Hadi-Saker/Scout-AI-Object-Detection.git
